.about-us{
    display: flex;
    position: relative;
}



.logo-coffee{
    max-width: 200px;
    height: 30px;
    margin: 0 auto;
}
h2{
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
}